[submodule "lib/NVMLpp"]
	path = lib/NVMLpp
	url = https://notabug.org/AlexCr4ckPentest/NVMLpp
	branch = dev
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "lib/nlohmann-json"]
	path = lib/nlohmann-json
	url = https://github.com/nlohmann/json
